html, body {
  height: 100%;
  background-color: #f2f3f4;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main{
    flex: 1 1 auto;
}
footer{
    flex: 0 0 auto;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #f0f8ff; */
    /* background-color: #090e23c9; */
    background-color: #090e23e0;
    position: sticky;
    padding: 10px 0;
    background-position: center;
    top: 0;
    width: 100%;
    z-index: 100;
}
.fixed-nav{
    position: fixed;
}

.nav-user{
    color: white ;
}

.messagee{
    width: 80%;
    margin: auto;
}
.nav-logo h3 {
    font-weight: revert;
}   
.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links li {
    margin: auto 30px;
}

.nav-logo{
    display: flex;
    align-items: center;
    font-family: initial;
}
.nav-logotip {
    width: 75px;
    height: 50px;
    border-radius: 50%;
}
.nav-logo a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
}
.header{
    background-image: url(../images/photo_2023-02-14_09-32-15.jpg);
    height: 755px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-links a {
    position: relative;
}
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    transition: 0.5s;
    background-color: yellowgreen;
    border-radius: 15px;
    bottom: -6px;
    height: 3.5px;
    left: 0;
    margin: auto;
    right: 0;
}
.nav-links a:hover:after {
    width: 100%;
}

div#nav h3 {
    margin: 0;
}
.carousel-caption {
    position: absolute;
    right: auto;
    padding-top: 0;
    font-weight: 700;
    bottom: 60%;
    left: 15%;
    padding-bottom: 0;
    color: #fff;
    text-align: unset;
    width: 40%;
}
.cards-accordions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.card-caccordion h1 {
    font-size: 35px;
    margin-bottom: 30px;
}
a.contacts-card-link {
    text-decoration: none;
    width: 40%;
}
.contacts-cards {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.contacts-cards h3 {
    letter-spacing: 1.5px;
    font-family: auto;
    margin-bottom: 20px;
    font-size: 35px;
}
.contacts-card {
    width: 40%;
    border-radius: 35px;
    text-decoration: none;
    /* background-color: #e9f1f9; */
    background-color: #fff;
    color: black;
    transition: 0.4s;
    cursor: pointer;
    padding: 10px 35px;
    text-align: center;
}
.contacts-card:hover{
    color: black;
}
.contacts-card img {
    width: 100%;
    border-radius: 30px;
    min-height: 380px;
}
.contacts-card:hover {
    box-shadow: 0px 0px 25px 0px #97a1d0;
}
.contacts-card img {
    width: 100%;
}

.login-post-class{
    margin: auto;
    margin-top: 70px;
}
.informs {
    margin: 60px auto;
    width: 40%;
}
.informs h3 {
    font-size: 30px;
    /* text-align: center; */
}
.informs p {
    font-size: 20px;
    /* text-align: center; */
}
.informs ul {
    font-family: sans-serif;
    line-height: 200%;
    font-size: 20px;
}
.center-card{
    width: 50%;
    margin: 30px auto 0;
}
.investment p{
    line-height: 199%;
}
.books {
    width: 80%;
    margin: auto;
}
.book-detail {
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}   
.book-cover_picture {
    width: 20%;
}
.book-cover_picture img{
    border: solid 4px #090e23e0;
}
.book-cover_picture img {
    width: 100%;
}
.book-description {
    width: 50%;
}
.nav-aside-links {
    margin-top: 50px;
}
.nav-aside-box {
    margin-top: 20px;
}
.window-theme {
    padding: 20px 35px;
    text-align: initial;
}
.window-theme button {
    background: none;
    border: none;
    color: #fff;
    font-size: 25px;
    padding: 0;
}
.nav-aside-links ul {
    padding: 0;
    margin-top: 30px;
}
.nav-aside-links li {
    list-style: none;
    margin: 15px 0;
    font-size: 20px;
}
.nav-aside-links a{
    text-decoration: none;
    color: white;
}
.nav-aside-user.logined {
    margin: auto;
    border: solid 1.5px;
    border-radius: 20px;
    width: 80%;
}
.book-description a {
    color: black;
    text-decoration: none;
}
.book-description p a {
    text-decoration: underline;
}
.book-description.decoration a{
    text-decoration: underline;
}
.nav-aside-user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}
.nav-aside-user{
    padding: 8px 0;
}
.aside-profile-link{
    text-decoration: none;
    color: white;
}
.aside-profile-link:hover{
    color: white;
}
.nav-aside-user img {
    margin-right: 7px;
    width: 50px;
    border-radius: 50%;
}
.nav-aside-user-img h4 {
    margin-left: 7px;
}
.nav-aside {
    position: fixed;
    text-align: center;
    /* background: rgba(20, 20, 20, 0.5); */
    background-color: #18202e;
    height: 100%;
    z-index: 500;
    right: -100%;
    color: white;
    width: 25%;
    top: 0;
    transition: 0.4s;
}
.nav-aside-burger:focus-within .nav-aside{right: 0}
.boks-search{
    width: 40%;
    margin: 40px auto 0;
}
.boks-search input{
    border-radius: 30px;
}
.books-pagination{
    width: 65%;
    margin: auto;
}
.about_text {
    margin: 40px auto;
    font-size: 20px;
    line-height: 200%;
    width: 40%;
    /* font-weight: 400; */
}
.base-footer {
    background-color: #090e23e0;
    margin: 20px 0 0px;
    display: flex;
    padding: 18px 150px;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    color: #fff;
}
.foot-sot-links p {
    margin: 0;
    font-size: 15px;
    color: #797979;
    margin: 0px;
}
.foot-links ul {
    line-height: 210%;
}
.base-footer ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.base-footer a {
    color: white;
    text-decoration: none;
}
.foot-sot-links ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}
.foot-sot-links {
    text-align: center;
}
a.foot-sot-contact-link {
    font-size: 20px;
}
.foot-sot-links li {
    margin: 0 15px;
    font-size: 22px;
}
.foot-links li a{
    position: relative;
}
.foot-links li a:after {
    content: "";
    position: absolute;
    width: 0%;
    transition: 0.5s;
    background-color: yellowgreen;
    border-radius: 15px;
    bottom: -6px;
    height: 3px;
    left: 0;
    margin: auto;
    
}
.foot-links li a:hover:after{
    width: 100%;
}
a.nav-link-active:after {
    width: 100%;
}

.zag-oknno {
    /* background-color: aquamarine; */
    background-image:linear-gradient( rgb(0 0 0 / 40%), rgb(0 0 0 / 40%) ), url(../images/kal-amaki.jpg);
    height: 450px;
    display: flex;
    align-items: center;
    color: white;
    /* text-align: center; */
    background-size: cover;
    background-position: center;
    justify-content: center;
}
.admin-containner {
    width: 80%;
    margin: 20px auto;
}
.admin-boxes {
    display: flex;
    justify-content: space-evenly;
}
a.admin-box {
    text-align: center;
    text-decoration: none;
    color: black;
    width: 18%;
    /* color: black; */
    background-color: white;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #555;
}
a.admin-box h3{
    font-size: 22px;
}
.admin-box h6 {
    color: #555;
    /* font-family: inherit; */
    letter-spacing: 2px;
    font-size: 15px;
}
.admin-table {
    box-shadow: 0px 0px 5px 0px #555;
    margin-top: 50px;
    padding: 15px;
}
.admin-table-line {
    display: flex;
    padding: 15px;
    /* background-color: white; */
    transition: 0.3s;
    cursor: pointer;
    justify-content: space-between;
    /* margin: 15px; */
}
.admin-table-column {
    width: 15%;
    height: 30px;
    text-align: center;
    overflow: auto;
    background-color: white;
}
/* .admin-table-glav-line {
    position: sticky;
} */
.admin-table-glav-line .admin-table-column {
    box-shadow: 0 0 5px 0 #555;
    background: none;
}
.admin-table-line:hover {
    box-shadow: 0 0 5px #555;
}
.admin-table-glav-line:hover {
    box-shadow: none;
}
.admin-table-column-id {
    width: 5%;
}
.admin-table-column-image {
    width: 5%;
}
.admin-table-column-image img {
    height: 100%;
}
.admin-table-column-settings {
    width: 6%;
    overflow: unset;
}
a.admin-table-set-link{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.admin-table-create{
    padding: 8px;
}
.admin-table-create a.admin-table-line {
    text-decoration: none;
    color: black;
    justify-content: unset;
    font-size: 18px;
}
.admin-table-create a.admin-table-line:hover {
    font-size: 20px;
}
.create-containner {
    margin: 50px auto;
    width: 60%;
}
.admin-conf-del {
    position: fixed;
    top: 40%;
    width: 30%;
    left: 35%;
    background-color: yellowgreen;
    text-align: center;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 15px;
}
.admin-del-buttons{
    display: flex;
    justify-content: center;
}
.admin-del-buttons button{
    margin: auto 10px;
}
.profile-cont {
    width: 50%;
    margin: auto;
    text-align: center;
}
.profile_divs {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    align-items: center;
}
.profile_img {
    width: 125px;
    /* height: 100%; */
    /* align-items: center; */
}
.profile_img img {
    width: 100%;
}
.profile-baz {
    text-align: initial;
}
.profile-baz h5 {
    /* text-align: initial; */
    font-size: 30px;
}
.profile-baz h6 {
    font-size: 18px;
}
h1.titles {
    text-align: center;
    margin: 70px 0;
    font-size: 42px;
    font-weight: revert;
}
.habits-content {
    width: 80%;
    margin: 50px auto;
}
.habits-content h1.titles {
    margin: 50px 0;
}
.habbits-video {
    text-align: center;
    height: 500px;
}
.you-video{
    width: 80%;
    height: 100%;
}
.you-vid{
    text-align: center;
}
.you-vid h2 {
    margin: 35px 0px;
    font-weight: 700;
}
p.habbit_text {
    font-size: 18px;
    font-weight: 600;
}
.my_favorite_books{
    float: right;
    margin-right: 150px;
    margin-top: -27px;
}
.my_favorite_books a{
    text-decoration: none;
    color: rgb(62, 62, 251);
}
.my_favorite_books a:hover{
    text-decoration:underline;
}
.my-books {
    margin: 30px auto;
    text-align: center;
    font-family: 'bootstrap-icons';
}
/* .login_containner{
    background-color: #020512d9;
    width: 100%;
    height: 100%;
} */
/* #020512d9 */
/* .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f8ff57;
    position: fixed;
    padding: 15px 0;
    background-position: center;
    top: 0;
    width: 100%;
}
.nav-logo a {
    display: flex;
    text-decoration: none;
    color: #afad;
    align-items: center;
}
.nav-links a {
    text-decoration: none;
    color: #afad;
    transition: 0.3s;
} */
