{% extends 'base.html' %}
{% block content %}
<div class="zag-oknno">
    <h2>About us</h2>
</div>
<div class="about_text">
    <p>If you are a type of person who loves to grow, improve and wanna learn something new in everyday life, this website is especialy for you. You can find the best quality books, seminars and information about developing a best quality life. Make each day of your life a continious holiday by finding your passion rathar than settling for a job. The books recommended in this site are lifechanging. They will change your mindset, health and wealth completely if you can apply a new idea daily. You can learn more about consistancy and discipline which will lead you to the vast success.</p>
</div>

{% endblock content %}