{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="books">
    {% for book in books %}
    <div class="book-detail">
    <div class="book-cover_picture">
        <img src="{{ book.cover_picture.url }}" alt="">
    </div>
    <div class="book-description">
        <a href="{% url 'books_detail' book.id %}"><h5>{{ book.title }}</h5></a>
        <p>{{ book.description | truncatechars:500 }}<br><a href="{% url 'books_detail' book.id %}">read more ...</a></p>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}