{% extends "base.html" %}

{% block content %}

<div class="book-detail">
    <div class="book-cover_picture">
        <img src="{{ book.cover_picture.url }}" alt="">
    </div>
    <div class="book-description decoration">
        <h5>{{ book.title }}
            {% if request.user.is_staff %}
                {% if book.my_favorite %}
                    <a style="color:red" href="{% url 'delete_like_book' book.id %}"><i class="bi bi-heart-fill"></i></a>
                {% else %}
                    <a href="{% url 'like_book' book.id %}"><i class="bi bi-heart"></i></a>
                {% endif %}
            {% else %}
                <a style="color:blue; font-size:15px; text-decoration:none" href="{% url 'my_books' %}">liked the author <i class="bi bi-heart-fill"></i></a>
            {% endif %}
        </h5>
        {% if book.bookauthor_set.all %}
        {% for ba in book.bookauthor_set.all %}
            <a href="{% url 'author' ba.author.id %}">{{ ba.author.first_name }} {{ ba.author.last_name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %} 
        <p>{{ book.description }}<br></p>
    </div>
    </div>

{% endblock content %}