{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="create-containner">
<form method="post">{% csrf_token %}<br>
    <label class="form-label" class="Layout" for="old_pass">Enter your old password</label>
    <input class="form-control" class="Layout" id="old_pass" name="old_pass" type="password"><br>
    <label class="form-label" for="new_pass">Create a new password</label>
    <input class="form-control" id="new_pass" name="new_pass" type="password"><br>
    <label class="form-label" for="check_new_pass">Confirm new password</label>
    <input class="form-control" id="check_new_pass" name="check_new_pass" type="password"><br>
    <button type="submit" class="btn btn-outline-primary">Change Password</button>
</form>
</div>
{% endblock content %}