{% extends 'base.html' %}

{% block content %}

<div class="habits-content">
    <div class="you-vid">
        <h1 class="titles">Money tips for people in their early twentieth</h1>
        <div class="habbits-video">
            <iframe class="you-video" width="560" height="315" src="https://www.youtube.com/embed/3xC-JZzEeic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <h1 class="titles">Detoxing your way to success</h1>
    </div>
    <div class="habits">
        <p class="habbit_text">A dopamine detox entails fasting from dopamine producing activities, or “pleasures,” for a certain amount of time with the hope of decreasing reward sensitivity. However, there is no scientific evidence to support this method.
            Those who attempt a dopamine detox aim to detach themselves from everyday stimuli, such as social media, sugar, or shopping. They are replaced in favor of less impulsive habits and lifestyle choices. The fast can last for a few hours or several days.
            It is very important to note that a dopamine detox is not a scientifically researched approach. Evidence of any benefits is anecdotal, and most benefits come from refraining from potentially addictive activities. However, they are not related to actually detoxing from dopamine.
            The entire concept of a “dopamine detox” is scientifically incorrect, and reduces the brain to a very simplistic level. It is, in fact, far more complex that this “dopamine detox” trend suggests.
            This article will explore dopamine detoxes in further detail, including potential risks, and even some incidental benefits.</p>
        <p class="habbit_text">What is dopamine?
            Dopamine is a type of neurotransmitter in the brain. It is naturally produced by the body as a chemical messenger, and it affects many behavioral and physical functions, including:
            learning
            motivation
            sleep
            mood
            attention
            An excess or deficiency in dopamine production can cause mental health conditions. Exposure to overwhelming levels of stimuli can prompt such disorders, leading to dependencies on certain substances or activities.</p>
        <p class="habbit_text">Does a dopamine detox work?
            During a dopamine detox, a person avoids dopamine triggers for a set period of time — anywhere from an hour to several days.
            The dopamine detox requires a person to avoid any kind of arousal, specifically from pleasure triggers. Anything that stimulates dopamine production is off-limits throughout the detox.
            Ideally, by the end of the detox, a person will feel more centered, balanced, and less affected by their usual dopamine triggers. However, it is important to note that a true dopamine detox, whereby a person successfully halts all dopamine activity in the brain, is not possible.
            The human body naturally produces dopamine, even when it is not exposed to certain stimuli. A more accurate description of the dopamine detox is a period of abstinence, or “unplugging” from the world.
            Doing so may have positive effects on those who implement the practice from time to time. However, the term “dopamine detox” by its very nature is problematic, and not at all scientifically correct. Dr. Sepah himself says the name is not meant to be interpreted literally.
            Does a dopamine detox have benefits? 
            We have already clarified that a complete and total detox from naturally-occurring dopamine is not possible.
            That said, the decision to unplug and detach from certain impulsive behaviors may come with some health benefits, one of which is the potential for heightened focus and greater mental clarity.
            Dopamine is often distracting, and may be a hindrance for some people from achieving their goals. It is what prompts the excessive repetition of certain feel-good behaviors, causing people to scroll mindlessly on social media or binge-watch their favorite TV shows.
            These unnecessary compulsions detract from spending time more productively on work, health goals, home organization, and more. When people actively avoid these distractions, they may free up more time for the things that matter more to them.
            In short, a dopamine detox is not technically possible, and any evidence of its positive effects are purely anecdotal.
            However, by avoiding certain behaviors, such as spending hours scrolling through a smartphone and social media sites, people may be able to achieve a greater state of mindfulnessTrusted Source, which comes with its own benefits. Among these are stress relief, lower blood pressure, and improved sleep.
            For those struggling with certain addictive behaviors, meditation can be a great way to achieve a state of mindfulness.</p>
    </div>
    <div class="you-vid">
        <h2>Dopamine fasting</h2>
        <div class="habbits-video">
            <iframe class="you-video" width="560" height="315" src="https://www.youtube.com/embed/7E8CPBzP1lI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <h1 class="titles">What gets measured, gets managed.</h1>
    </div>
    <div class="habits">
        <p class="habbit_text">What is time blocking?
            Time blocking is a time management strategy where you schedule out every part—and we mean every part—of your day. With time blocking, you’re effectively breaking the work week into bite-sized time slots where you check your email, work on projects, take a break, or even exercise.</p>
        <p class="habbit_text">Like most time management strategies, time blocking is a way for you to reclaim your day and get a better sense of where your time is actually going. According to the Anatomy of Work Index, 71% of knowledge workers reported feeling burnout at least once in 2020. Additionally, 32% of those people cited not being able to switch off or disconnect as the top factor fueling their burnout. By scheduling blocks of work, you can not only ensure you’re completing your important tasks, but also make sure you’re setting aside time for rest and self-care .</p>
    </div>
    <div class="you-vid">
        <h2>How to Win Your Day with Time Blocking</h2>
        <div class="habbits-video">
            <iframe class="you-video" width="560" height="315" src="https://www.youtube.com/embed/PPvxtFOqx2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        {% comment %} <h1 class="titles">What gets measured, gets managed.</h1> {% endcomment %}
    </div>
    <div class="you-vid">
        <h2>Time on one thing means, time away from another.</h2>
        {% comment %} <div class="habbits-video">
            <iframe class="you-video" width="560" height="315" src="https://www.youtube.com/embed/7E8CPBzP1lI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div> {% endcomment %}
        {% comment %} <h2>Time on one thing means, time away from another.</h2>
        <h1 class="titles">Time on one thing means, time away from another.</h1> {% endcomment %}
    </div>
</div>

{% endblock content %}