{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="my-books">
    <h3>My Favorite Books <i class="bi bi-heart-fill"></i></h3>
</div>
<div class="boks-search">
    <form method="get" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        {% comment %} <button class="btn btn-outline-success" type="submit">Search</button> {% endcomment %}
    </form>
</div>
<div class="books">
    {% for book in books %}
        {% if book.my_favorite %}
            <div class="book-detail">
            <div class="book-cover_picture">
                <img src="{{ book.cover_picture.url }}" alt="">
            </div>
            <div class="book-description">
                <a href="{% url 'books_detail' book.id %}"><h5>{{ book.title }}</h5></a>
                <p>{{ book.description | truncatechars:500 }}<br><a href="{% url 'books_detail' book.id %}">read more ...</a></p>
            </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="books-pagination">
    <ul class="pagination">
    {% if books.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1{% if search %}&q={{ search }}{% endif %}">Firs</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}{% if search %}&q={{ search }}{% endif %}">Previous</a></li>
    {% endif %}
      <li class="page-item active"><a class="page-link" href="#">{{ books.number }}</a></li>
    {% if books.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}{% if search %}&q={{ search }}{% endif %}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ books.paginator.num_pages }}{% if search %}&q={{ search }}{% endif %}">Last</a></li>
    {% endif %}
    </ul>
</div>
{% endblock content %}