{% extends 'base.html' %}

{% block content %}
<div class="informs">
<h3>self improvement</h3>
<p>consists of activities that develop a person's capabilities and potential, build human capital and enhance quality of life and the realization of dreams and aspirations. </p>
<ul>
    <li>Improving <b>self-awareness</b></li>
    <li>Improving <b>self-knowledge</b></li>
    <li>Improving skills and/or <b>learning new ones</b></li>
    <li>Building or renewing <b>identity/self-esteem</b></li>
    <li>Developing <b>strengths or talents</b></li>
    <li>Identifying or improving <b>potential</b></li>
    <li>Building <b>employability or (alternatively)</b> human capital</li>
    <li>Enhancing lifestyle or <b>the quality of life and time-management</b></li>
    <li>Improving <b>health</b></li>
    <li>Improving <b>wealth or social status</b></li>
    <li>Fulfilling <b>aspirations</b></li>
    <li>Initiating a <b>life enterprise</b></li>
    <li>Making <b>yearly personal goals</b></li>
    <li>Defining and executing <b>personal development plans</b></li>
</ul>
</div>
{% endblock content %}